.amountInput {
    padding-right: 80px;
    /* max-width: 100%;
    min-width: 200px; */
}
.amountInput__withValue {
    padding-top: 1px;
    padding-bottom: 12px;
}
.convertedAmount {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1px 14px;
    font-size: 11px;
    color: rgba(0,0,0,.45);
    pointer-events: none;
}
.currencySelector {
    position: absolute;
    width: 72px;
    top: 31px;
    right: 9px;
    padding: 3px 0;
    display: flex;
    align-items: center;
}